@charset "utf-8";
/* CSS Document */

body{
	background-image: url(file:///C:/Users/Gabriel/Desktop/IMC/scr/imgs/54088739-healthy-eating-background-studio-photo-of-different-fruits-and-vegetables-on-white-wooden-table-high.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: "montserrat-regular", sans-serif;
}

